html, body {
  /*height: 100%;*/
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
}

body {
  background-image: url('source/topic背景.gif');
  background-size: 100% 100%;
  /*background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
